#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# Disable Lua support for all architectures where libluajit-5.1-dev is not available
ifeq (,$(filter-out alpha hppa ia64 m68k powerpc powerpcspe riscv64 s390x sh4 sparc64 x32,$(DEB_HOST_ARCH)))
EXTRA_ARGS = -DENABLE_LUA_SUPPORT=OFF
endif

ifeq (,$(filter-out mips mipsel m68k powerpc powerpcspe sh4,$(DEB_HOST_ARCH)))
EXTRA_ARGS += -DUSE_NEW_ATOMIC_BUILTINS=ON
endif

%:
	dh $@ --buildsystem=cmake --sourcedirectory=src

override_dh_auto_configure:
	dh_auto_configure -- -DENABLE_CUSTOM_BOOST_BUILD=FALSE $(EXTRA_ARGS)

override_dh_installinit:
	dh_installinit --only-scripts
